@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 160.9 35% 91%;
        --foreground: 160.9 1.8% 5.5%;
        --card: 160.9 17.5% 91%;
        --card-foreground: 160.9 1.8% 10.5%;
        --popover: 160.9 35% 95.5%;
        --popover-foreground: 160.9 96.8% 1%;
        --primary: 160.9 100% 50%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 160.9 17% 72%;
        --secondary-foreground: 0 0% 0%;
        --muted: 198.9 17% 86%;
        --muted-foreground: 160.9 1.8% 35.5%;
        --accent: 198.9 17% 81%;
        --accent-foreground: 160.9 1.8% 10.5%;
        --destructive: 0 67.5% 32%;
        --destructive-foreground: 160.9 1.8% 91%;
        --border: 160.9 23.5% 53.2%;
        --input: 160.9 23.5% 21.2%;
        --ring: 160.9 88.7% 45.3%;
        --radius: 0.5rem;
        --sidebar-background: 161, 35%, 86%;
        --sidebar-foreground: 161, 2%, 5%;
        --sidebar-primary: 161, 100%, 45%;
        --sidebar-primary-foreground: 0 0% 0%;
        --sidebar-accent: 199, 17%, 77%;
        --sidebar-accent-foreground: 0 0% 0%;
        --sidebar-border: 161, 24%, 51%;
        --sidebar-ring: 151, 98%, 45%;
    }

    .dark {
        --background: 160.9 24% 5.5%;
        --foreground: 160.9 1.8% 91%;
        --card: 160.9 17.5% 1%;
        --card-foreground: 160.9 1.8% 91%;
        --popover: 160.9 24% 5%;
        --popover-foreground: 160.9 1.8% 91%;
        --primary: 160.9 100% 50%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 160.9 17% 11%;
        --secondary-foreground: 0 0% 100%;
        --muted: 198.9 17% 16%;
        --muted-foreground: 160.9 1.8% 60.5%;
        --accent: 198.9 17% 16%;
        --accent-foreground: 160.9 1.8% 90.5%;
        --destructive: 0 67.5% 32%;
        --destructive-foreground: 160.9 1.8% 91%;
        --border: 160.9 23.5% 21.2%;
        --input: 160.9 23.5% 21.2%;
        --ring: 160.9 88.7% 45.3%;
        --radius: 0.5rem;
        --sidebar-background: 161, 24%, 7%;
        --sidebar-foreground: 161, 2%, 100%;
        --sidebar-primary: 161, 100%, 40%;
        --sidebar-primary-foreground: 0, 0%, 0%;
        --sidebar-accent: 199, 17%, 14%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 161, 24%, 20%;
        --sidebar-ring: 151, 98%, 45%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
